---
layout: default
title: Welcome
---

<p>
	I am a <em>full-stack</em> web and mobile application developer. 		
</p>

<p>
	I have enjoyed coding professionally for over 15-years.  Primarily in the JVM (Java Platform) space.  I have a deep level of experience in many technologies.  
</p>

<h4>Languages &amp; Frameworks</h4>

<p>
These are the languages and frameworks I use often.  I have experience with many others.
</p>

<ul>
	<li>iOS / Objective-C</li>
	<li>Groovy / Java</li>
	<li>Angular.js, jQuery, JavaScript, REST</li>
	<li>Android</li>
	<li>HTML5, CSS, Responsive Web Design</li>
	<li>Grails, Spring MVC, Hibernate</li>
	<li>Wordpress, PHP</li>
</ul>

<h4>Tools</h4>

<ul>
	<li>Git, Gradle, Jenkins</li>
	<li>TDD Testing: JUnit, Selenium, Jasmine, Cobertura, gcov</li>
	<li>IntelliJ, Xcode, Eclipse</li>
	<li>Sublime Text, TextMate &amp; vim</li>
	<li>Linux, Apache, Tomcat, MySQL, Oracle</li>
</ul>

<p>
	I also dabble in design and have decent photoshop chops.
</p>

<h3>Code on Github</h3>

<p>
	Most of my work is closed source.  
	However, I have shared some utilities and example code <a href="https://github.com/bellingson?tab=repositories">on github</a>.
</p>

<h3>Portfolio</h3>

<div class="projects">
{% assign posts = site.categories.project %}
{% for page in (0..posts.size) %} 
{% for post in posts  %}

	{% if post.order == page %}

<div class="project section">
	<a name="{{post.title}}"></a>

		{% if post.link %}
	
		<a href="{{post.link}}">
		<img class="cover" src="{{ post.image }}" alt="{{post.title}}"/></a>

	
		<div class="about">
	     	<h2><a href="{{post.link}}">{{ post.title }}</a></h2>		
	    	<h3>{{ post.dates }}</h3>		
		</div>

		{% else %}

			<img class="cover" src="{{ post.image }}" alt="{{post.title}}"/>
			<div class="about">
	     	<h2>{{ post.title }}</h2>		
	    	<h3>{{ post.dates }}</h3>		
		</div>

		{% endif %}

</div>	
{% endif %}
 
 {% endfor %}
 {% endfor %}


</div>


<h3><a href="reading_list.html">Latest Reading</a></h3>

<p>
My main interests are technology, psychology, fitness, personal development, and fiction.	
</p>
<p>
In 2012, I began keeping a list of the books I read.  Books are listed by the date I finished reading it.
</p>


<div class="books">

{% for post in site.categories.book limit: 3 %}

<div class="book section">
	<a name="{{post.title}}"></a>

	    <h4>{{ post.date | date: "%B %d, %Y" }}</h4>		
	
		<div class="cover">
				<a href="{{post.link}}"><img class="cover" src="{{ post.image }}" alt="{{post.title}}"/></a>			
		</div>
	
		<div class="about">
	     	<h2><a href="{{post.link}}">{{ post.title }}</a></h2>		
	    	<h3>{{ post.author }}</h3>		

		</div>

</div>	
 
 {% endfor %}

<a class="more" href="reading_list.html">More Books &#187;</a>

</div>


